@use '../util' as u;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--neutral-lg);
    font-family: u.$font;
    font-size: u.rem(13);
}


.profile-pic {
    width: u.rem(35);
    height: u.rem(35);
    border: u.rem(2) solid hsl(263, 36%, 58%);
    border-radius: 50%;
}

.no-border {
    border: none;
}