:root {
    --primary-mv: hsl(263, 55%, 52%);
    --primary-vdgblue: hsl(217, 19%, 35%);
    --primary-vdbblue: hsl(219, 29%, 14%);

    --neutral-lg: hsl(0, 0%, 81%);
    --neutral-lgblue: hsl(210, 46%, 95%);
}